.test {
  padding: 200px 150px;
  background: #7367f0;
  border: 2px solid #636;
  color: #fff;
  font-size: 31px;
  font-weight: 600;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.altosis {
  font-family: Fantasy;
	color: #ed2419 !important;
	font-size: 8em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2%;
}